<div class="tableContainer mat-elevation-z2">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Namn</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a routerLink="/product/{{element.Artikelid}}">{{element.Namn}}</a>
      </mat-cell>
    </ng-container>

    <!-- price Column -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Pris (kr)</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Prisinklmoms}}</mat-cell>
    </ng-container>

    <!-- volume Column -->
    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Volym (ml)</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Volymiml}}</mat-cell>
    </ng-container>

    <!-- alcohol Column -->
    <ng-container matColumnDef="alcohol">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Alkoholhalt</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Alkoholhalt}}</mat-cell>
    </ng-container>


    <!-- APK Column -->
    <ng-container matColumnDef="apk">
      <mat-header-cell *matHeaderCellDef mat-sort-header> APK</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.apk}}</mat-cell>
    </ng-container>

    <!-- category Column -->
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Varugrupp</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.Varugrupp}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20,50]">
  </mat-paginator>
</div>
