<form [formGroup]="filterForm">

  <div formGroupName="price" class="formGroup">
    <h3 class="mat-title">Pris</h3>
    <mat-form-field>
      <input type="number" matInput placeholder="Min pris" formControlName="min"/>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Max pris" formControlName="max"/>
    </mat-form-field>
  </div>

  <div formGroupName="apk" class="formGroup">
    <h3 class="mat-title">APK</h3>
    <mat-form-field>
      <input type="number" matInput placeholder="Min APK" formControlName="min"/>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Max APK" formControlName="max"/>
    </mat-form-field>
  </div>

  <div formGroupName="alcohol" class="formGroup">
    <h3 class="mat-title">Alkoholhalt</h3>
    <mat-form-field>
      <input type="number" matInput placeholder="Min Alkoholhalt" formControlName="min"/>
    </mat-form-field>

    <mat-form-field>
      <input type="number" matInput placeholder="Max Alkoholhalt" formControlName="max"/>
    </mat-form-field>
  </div>
  <div class="formGroup">
    <h3 class="mat-title">Annat</h3>
    <mat-form-field>
      <input type="text" matInput placeholder="Namn" formControlName="name"/>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Kategori" formControlName="category">
        <mat-option>Alla</mat-option>
        <mat-option *ngFor="let category of categories | orderBy:'name'" [value]="category.value">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>
