form, .inputWrapper {
  display: flex;
  flex-flow: row wrap;;
  justify-content: space-between;
}

form {
  margin-right: -20px;
}

.formGroup, mat-form-field {
  flex: 1 1 auto;
  margin-right: 10px;
}



