/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

mat-card.mat-card form{
  margin-right: 0;
}

@media only screen and (max-width:425px){
  .mat-card .formGroup[_ngcontent-c5]{
    margin-right: 0;
  }
  .formGroup, mat-form-field{
    width: 50%;
  }  
}
@media only screen and (max-width:270px){
  .formGroup, mat-form-field{
    width: 100%;
  }  
}
